[Unit]
Description=Ecommerce Flask Application
After=network.target

[Service]
Type=simple
User=**
WorkingDirectory=/home/**/ecom
Environment=PATH=/usr/bin:/usr/local/bin
ExecStart=/usr/bin/python3 /home/**/ecom/app.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target